@tailwind base;
@tailwind components;
@tailwind utilities;



#background-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit:fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  #root{
    position: relative;
  }